{% load static %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

<!-- Navigation -->
<nav class="w3-bar w3-black">
  <a href="buscadorProductes/home" class="w3-button w3-bar-item">Home</a>
  <a href="buscadorProductes/login" class="w3-button w3-bar-item">login</a>
  <a href="buscadorProductes/login" class="w3-button w3-bar-item">searchProduct</a>
  <a href="#contact" class="w3-button w3-bar-item">Contact</a>
</nav>

<!-- Slide Show -->
<section>
  <img src="{% static 'images/supermercado-DIA.jpg' %}" style="width:100%" alt="supermercadoDia">
  <img src="{% static 'images/supermercado.jpg' %}" style="width:100%" alt="supermercado">
</section>

</body>
</html>