{% load static %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<h1>SUPERMERCAT</h1>
______________________
<ul>

  <li>
      <a href="buscadorProductes/login_view" class="w3-button w3-bar-item">Iniciar sessio</a>
  </li>
  <li>
      <a href="buscadorProductes/search" class="w3-button w3-bar-item">Buscar producte</a>
  </li>
  <li>
      <a href="/admin" class="w3-button w3-bar-item">Administracio</a>
  </li>
</ul>

<br>
<!-- Slide Show -->
<figure>
  <img src="{% static 'images/supermercado-DIA.jpg' %}" style="width:100%" alt="supermercadoDia">
</figure>
<figure>
  <img src="{% static 'images/supermercado.jpg' %}" style="width:100%" alt="supermercado">
</figure>

</body>
</html>