{% load static %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<h1>SUPERMERCAT</h1>
<ul>
  <li>
      <a href="#home" class="w3-button w3-bar-item">Home</a>
  </li>
  <li>
      <a href="buscadorProductes/login" class="w3-button w3-bar-item">login</a>
  </li>
  <li>
      <a href="buscadorProductes/search" class="w3-button w3-bar-item">searchProduct</a>
  </li>
  <li>
      <a href="/admin" class="w3-button w3-bar-item">Admin</a>
  </li>
</ul>

</nav>
<br>
<!-- Slide Show -->
<figure>
  <img src="{% static 'images/supermercado-DIA.jpg' %}" style="width:100%" alt="supermercadoDia">
</figure>
<figure>
  <img src="{% static 'images/supermercado.jpg' %}" style="width:100%" alt="supermercado">
</figure>

</body>
</html>