<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
</head>

<body>

<h1>PRODUCTES</h1>

<h2>Lista de Productes:</h2>
<li>Chocokrispies</li>
<figure><img src="{% static 'images/chococrispy.jpg' %}" style="width:10%" alt="chocokripies"></figure>
<li>CocaCola</li>
<figure><img src="{% static 'images/cocacola.jpg' %}" style="width:10%" alt="cocacola"></figure>
<li>Ketchup</li>
<figure><img src="{% static 'images/ketchup.jpg' %}" style="width:10%" alt="ketchup"></figure>

</body>
</html>